body{
    background-color: #5D5394;
    font-family: Arial, sans-serif;
    height: 1050px;
}
#title{
    margin-top: 50px;
    text-align: center;
    color: white;
    font-weight: lighter;
}
#description{
    text-align: center;
    color: white;
    margin-bottom: 30px;
    font-style: italic;
}
.form-style{
    background-color: #202C5F;
    width: 55%;
    margin: auto;
    border-radius: 5px;
    height: 950px;
}
#survey-form{
    color: white;
    padding: 25px;
    width: 85%;
    margin: auto;
}
input, select, textarea{
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    padding-left: 5px;
    margin-bottom: 10px;
}
input, select{
    height: 35px;
}
select{
    width: 101.2%;
    height: 40px;
}

input[type="radio"], input[type="checkbox"]{
    width: 5%;
    height: 15px;
    margin-left: -5px;
    margin-bottom: 0px;
}
input[type="submit"]{
    color: white;
    background-color: green;
    border: 1px solid green;
    width: 101%;
}